@charset "UTF-8";
body, input, button, textarea, select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.e2-text p, .e2-text ul, .e2-text ol {
  font-family: Georgia, "Times New Roman", Times, serif;
}

pre, tt, code, pre *, tt *, code * {
  font-family: Menlo, Consolas, "Courier New", monospace;
}

/* Раскладка */
.layout {
  min-width: 0;
  max-width: 100%;
  margin: 2em 3em 3em;
  padding: 0;
  position: relative;
}
.layout.cover:before {
  content: '';
  position: absolute;
  top: -24px;
  margin-top: -2em;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 1px, 100% 10px;
  background-size: 100% 1px, 100% 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(25%, rgba(0, 0, 0, 0.15)), color-stop(75%, rgba(0, 0, 0, 0.15)), to(transparent)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.3), transparent);
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.15) 75%, transparent), -webkit-radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.3), transparent);
  background-image: linear-gradient(left, transparent, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.15) 75%, transparent), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.3), transparent);
  background-position: 0 100%, 0 100%;
}

.layout__layout {
  margin-left: -3em;
  margin-right: -3em;
  padding-left: 3em;
  padding-right: 3em;
}

@media screen and (max-width: 760px) {
  .layout {
    margin-left: 1em;
    margin-right: 1em;
  }

  .layout__layout {
    margin-left: -1em;
    margin-right: -1em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* Этажи */
.layout__floor {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  position: relative;
}

/* Дополнительно ограничиваю по ширине кой-какие блоки */
.e2-text p, .e2-text ul, .e2-text ol, .e2-text li, .e2-text blockquote, .e2-text pre, .e2-text h2, .e2-text h3, .e2-text h4, .e2-text h5, .e2-text h6, .e2-text hr, .e2-text-audio, .form-control, .spotlight {
  max-width: 760px;
}

/* Для очистки потока */
.clear, .e2-text:after {
  clear: both;
  height: 1px;
  font-size: 1px;
  margin: 0;
  float: none;
}

html, body {
  font-size: 16px;
}
@media screen and (max-width: 760px) {
  html, body {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a, a u {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: inherit;
}

a {
  color: #0060a0;
  border-color: #0060a0;
  border-color: rgba(0, 96, 160, 0.2);
}
a[disabled] {
  color: #0060a0 !important;
}
a:active {
  color: #e05020;
  border-color: #e05020;
  border-color: rgba(224, 80, 32, 0.2);
}
a:hover, a.hover {
  color: #e05020;
  border-color: #e05020;
  border-color: rgba(224, 80, 32, 0.9);
}
.menu a:visited, .footer a:visited, .no-visited a:visited, a.no-visited:visited {
  color: #0060a0;
  border-color: #0060a0;
  border-color: rgba(0, 96, 160, 0.2);
}
.e2-text a:visited, .e2-note-comments-link a:visited, .e2-note-tags a:visited, .e2-pages a:visited {
  color: #39586c;
  border-color: #39586c;
  border-color: rgba(57, 88, 108, 0.2);
}

a.black-link, .title h1 a, .e2-note-title a, .cover__layout.cover__color--black .text-bg a {
  color: #111111 !important;
  border-color: #111111 !important;
  border-color: rgba(17, 17, 17, 0.2) !important;
}
a[disabled].black-link, .title h1 a[disabled], .e2-note-title a[disabled], .cover__layout.cover__color--black .text-bg a[disabled] {
  color: #111111 !important;
}
a.black-link:hover, .title h1 a:hover, .e2-note-title a:hover, .cover__layout.cover__color--black .text-bg a:hover, a.hover.black-link, .title h1 a.hover, .e2-note-title a.hover, .cover__layout.cover__color--black .text-bg a.hover {
  color: #e05020 !important;
  border-color: #e05020 !important;
  border-color: rgba(224, 80, 32, 0.9) !important;
}

abbr {
  font-size: 90%;
  letter-spacing: .1em;
  margin-right: -.1em;
}

/* Адаптив */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.e2-text-picture img {
  max-width: 100%;
  height: auto;
}

img.upyachka {
  background-color: #f5f6f7;
}

.e2-text-video {
  position: relative;
  padding-bottom: 56.25%;
  /* height / width = 9 / 16 */
}

.e2-text-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.e2-text-picture-zoomed > img {
  max-width: 99999px;
}

.e2-template-preview {
  font-size: 90%;
}

.header {
  margin-bottom: 4em;
}
.cover .header {
  display: none;
}

.title {
  margin-bottom: .6em;
}
.title h1 {
  font-size: 2.625em;
  line-height: 1;
}
.layout--cover .title h1 {
  font-size: 1.125em;
  line-height: 1.4;
}

.description, .menu {
  font-size: 0.9375em;
  line-height: 1.6;
}

.menu {
  margin-top: .5em;
}
.menu > li {
  display: inline;
}
.menu > li + li:before {
  content: ' · ';
  margin: 0 .5em;
}

.e2-heading h2 {
  margin-bottom: .2em;
}

.e2-heading {
  margin-bottom: 1em;
}

.e2-note, .e2-comment {
  margin-bottom: 4em;
}

.e2-note-title {
  font-size: 1.875em;
  line-height: 1.2;
  margin-bottom: 0.66667em;
}
@media screen and (min-width: 760px) {
  .layout--cover .e2-note-title {
    font-size: 2.625em;
    max-width: 14em;
    margin-bottom: 0.47619em;
  }
}

.e2-note-date {
  font-size: 0.8125em;
  margin-bottom: .4em;
  position: relative;
  z-index: 2;
}

.e2-text {
  line-height: 1.6;
  position: relative;
}
.e2-text:after {
  content: '';
  display: block;
}
.e2-text p, .e2-text ul, .e2-text ol {
  overflow: hidden;
  text-overflow: ellipsis;
}
.e2-text p:empty {
  display: none;
}
.e2-text li {
  margin-bottom: .6em;
}
.e2-text li:last-child {
  margin-bottom: 0;
}
.e2-text h2 {
  font-size: 1.25em;
}
.e2-text p,
.e2-text ul,
.e2-text ol {
  margin-top: 0;
  margin-bottom: 1em;
}
.e2-text blockquote {
  margin-top: 0;
}
.e2-text-generic-object, .e2-text-table, .e2-text-audio,
.e2-text blockquote {
  margin-bottom: 1.5em;
}
.e2-text-table {
  font-size: 90%;
  overflow-y: hidden;
  overflow-x: auto;
}
@media screen and (min-width: 760px) {
  .e2-text-table {
    margin-left: 3em;
  }
}
.e2-text img[alt^="cover"] {
  display: none;
}
.e2-text img[alt^="cover!"] {
  display: inline;
}
.e2-text-picture, .e2-text-picture.fotorama, .e2-text-video,
.e2-text pre {
  margin-bottom: 2em;
}
.e2-text code, .e2-text tt {
  color: #b58900;
  font-size: 90%;
}
.e2-text pre {
  white-space: pre;
  position: relative;
}
.e2-text pre code {
  background: #f3f3f3;
  color: #455b63;
  overflow: auto;
  padding: 18px 3em 24px;
  margin-left: -0.25em;
  border-radius: 3px;
  font-size: 85%;
}
.e2-text ul,
.e2-text ol,
.e2-text blockquote {
  margin-left: 0;
  padding-left: 3em;
}
.e2-text p + ul, .e2-text p + ol {
  margin-top: -.5em;
}
.e2-text th, .e2-text td {
  padding: 0 1em .6em 0;
}
.e2-text th {
  font-weight: bold;
}
.e2-text hr {
  margin: 3em 0;
  border: none;
  height: 1px;
  background-color: #d9d9d9;
  background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(5%, #d9d9d9), color-stop(95%, #d9d9d9), to(white));
  background-image: -webkit-linear-gradient(left, white, #d9d9d9 5%, #d9d9d9 95%, white);
  background-image: linear-gradient(to right, white, #d9d9d9 5%, #d9d9d9 95%, white);
}
.e2-text > * {
  clear: both;
}
.e2-text > *:last-child {
  margin-bottom: 1em;
}
.e2-text [lead]:first-child {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 110%;
  margin-top: -.8em;
}
.layout--cover .e2-text [lead]:first-child {
  margin-top: 0;
}
.e2-text [aside] {
  margin-left: 33%;
  margin-top: .1em;
  margin-bottom: 1.5em;
  padding-left: 0;
  text-align: right;
}
@media screen and (min-width: 571.42857px) {
  .e2-text [main] {
    float: left;
    width: 70%;
    clear: left;
  }
  .e2-text [main] + [aside] {
    float: left;
    clear: right;
    text-align: left;
    width: 20%;
    margin-left: 10%;
  }
}
.e2-text [aside], .e2-text-picture p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0.69;
  font-size: 90%;
}
.e2-text [alone] {
  margin-top: 0;
}
.e2-text .jouele {
  width: 90%;
  max-width: 500px;
  padding: 8px 10px 12px;
  background-image: -webkit-gradient(linear, top left, bottom left, from(#f0f1f2), #fafbfc, to(#eaebec));
  background-image: -webkit-linear-gradient(#f0f1f2, #fafbfc, #eaebec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f1f2), color-stop(#fafbfc), to(#eaebec));
  background-image: linear-gradient(#f0f1f2, #fafbfc, #eaebec);
  border-radius: 3px;
}

.e2-note-text {
  font-size: 110%;
  margin-bottom: 1em;
}
.note-title-date .e2-note-text {
  margin-bottom: 0;
}

.e2-note-likes, .e2-note-tags, .e2-note-comments-link {
  font-size: 0.875em;
  margin-bottom: 1em;
}

.e2-note-list {
  line-height: 1.4;
}
.e2-note-list li {
  margin-bottom: .5em;
}

.e2-pages {
  line-height: 1.4;
  margin-bottom: 1em;
}
.e2-pages a {
  padding-top: .3em;
}

.e2-section-heading {
  font-size: 1.125em;
  font-weight: bold;
  margin-bottom: 1em;
}

.e2-popular {
  max-width: 700px;
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 3em;
  -moz-column-gap: 3em;
  column-gap: 3em;
  line-height: 1.4;
}
@media screen and (max-width: 760px) {
  .e2-popular {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}
.e2-popular p {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 100%;
  margin: 0 0 .5em 0;
}
.e2-popular a {
  padding-top: .3em;
}

.sub-content {
  overflow: hidden;
  margin-bottom: 3em;
}
.sub-content#comments {
  background-color: #f5f6f7;
}
.sub-content#comments .sub-content__wrap {
  padding-top: 2em;
  padding-bottom: 1em;
}

.e2-comment {
  margin-bottom: 2em;
  max-width: 760px;
}

.e2-comment-meta-area {
  margin-bottom: .2em;
}

.e2-comment-author {
  font-size: 0.875em;
  font-weight: bold;
}

.e2-reply {
  margin-top: -1em;
  margin-left: 3em;
}

.footer {
  font-size: 0.875em;
  line-height: 1.6;
}

.spotlight {
  max-width: 20em;
  margin-bottom: 1em;
}

.engine {
  opacity: 0.69;
}

.cover__fotorama {
  background-color: #111111;
}
.cover__fotorama.cover__color--black {
  background-color: white;
}
.cover__fotorama .fotorama__html {
  z-index: 10;
}
.cover__fotorama .fotorama__spinner {
  top: 0 !important;
  left: 100% !important;
  margin: 32px 0 0 -32px;
}

.cover__layout {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}
.cover__layout .text-bg {
  color: white;
  background-color: #111111;
}
.cover__layout .text-bg a {
  color: white !important;
  border-color: white !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.cover__layout .text-bg a[disabled] {
  color: white !important;
}
.cover__layout .text-bg a:active {
  color: white !important;
  border-color: white !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.cover__layout .text-bg a:hover, .cover__layout .text-bg a.hover {
  color: white !important;
  border-color: white !important;
  border-color: rgba(255, 255, 255, 0.9) !important;
}
.cover__layout.cover__color--black .text-bg {
  color: #111111;
  background-color: white;
}
.cover__layout.cover__color--transparent .text-bg {
  background-color: transparent;
}
.cover__layout .text-bg {
  padding: 7px 0 10.5px;
  position: relative;
  left: -7px;
}
.cover__layout .text-bg--1 {
  left: 28px;
}
.cover__layout .text-bg--2 {
  left: -14px;
  padding: 0;
  z-index: 2;
}

.cover__floor {
  height: 100%;
}
.cover__floor .blog-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
.cover__floor .note-title-date {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 1em;
  padding-bottom: 2em;
}
.cover__floor .e2-note-text {
  max-width: 36em;
}
.cover__floor .e2-note-text p, .cover__floor .e2-note-text ul, .cover__floor .e2-note-text ol {
  overflow: visible;
}

.form-label, .form-control-sublabel {
  font-size: 0.875em;
}

.form-control-sublabel {
  opacity: 0.69;
}

.form-control {
  margin-bottom: 1em;
  line-height: 1.5;
}
.form-control input.text, .form-control .form-label, .form-control textarea, .form-control select {
  margin-top: .2em;
  margin-bottom: .4em;
}
.form-control textarea {
  line-height: 1.6;
}

.form-label {
  float: none;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.form-label > p {
  display: inline;
  margin-right: 1em;
}

.form-element {
  margin-left: 0;
  width: 100%;
}

.form-label:not(.normal), .form-label p:not(.help) {
  font-weight: bold;
}

.delete-box {
  padding-left: 3em;
  padding-right: 1.5em;
}

@media screen and (max-width: 760px) {
  .form-control .width-1 {
    width: 40%;
  }
  .form-control .width-2 {
    width: 60%;
  }
  .form-control .width-3 {
    width: 80%;
  }
  .form-control .width-4 {
    width: 100%;
  }
}
.e2-search {
  margin-bottom: 1em;
}
.e2-heading .e2-search {
  margin-bottom: 2em;
}

.e2-search-input input {
  padding: 4px !important;
  background: none !important;
}
