.cover {
}

.cover__fotorama {
  background-color: $color-text;
  &.cover__color--black {
    background-color: $color-bg;
  }

  .fotorama__html {
    z-index: 10;
  }

  .fotorama__spinner {
    top: 0 !important;
    left: 100% !important;
    margin: 32px 0 0 -32px;
  }
}

.cover__layout {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;

  $extraPadding: 7px;

  .text-bg {
    color: $color-bg;
    background-color: $color-text;
    a {
      @include link-colors($color-bg, $color-bg, $color-bg, 0, !important);
    }
  }

  &.cover__color--black {
    .text-bg {
      color: $color-text;
      background-color: $color-bg;
      a {
        @extend %black-link;
      }
    }
  }

  &.cover__color--transparent {
    .text-bg {
      background-color: transparent;
    }
  }

  .text-bg {
    padding: $extraPadding 0 $extraPadding*1.5;
    position: relative;
    left: -$extraPadding;
  }
  .text-bg--1 {
    left: $extraPadding*4;
  }
  .text-bg--2 {
    left: -$extraPadding*2;
    padding: 0;
    z-index: 2;
  }
}

.cover__floor {
  height: 100%;

  .blog-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .note-title-date {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .e2-note-text {
    max-width: 36em;
    p, ul, ol {
      overflow: visible;
    }
  }
}