.header {
  margin-bottom: 4em;
  .cover & {
    display: none;
  }
}

.title {
  margin-bottom: .6em;

  h1 {
    font-size: (42/16)+em;
    line-height: 1;

    .layout--cover &{
      font-size: (18/16)+em;
      line-height: 1.4;
    }

    a {
      @extend %black-link;
    }
  }
}

.description, .menu {
  font-size: (15/16)+em;
  line-height: 1.6;
}

.menu {
  margin-top: .5em;
  > li {
    display: inline;
    + li {
      &:before {
        content: ' · ';
        margin: 0 .5em;
      }
    }
  }
}

.e2-heading h2 {
  margin-bottom: .2em;
}