html, body {
  font-size: $base-font-size;
  @media screen and (max-width: $break-point) {
    font-size: $base-font-size--small;
  }
}

body, input, button, textarea, select {
  @extend %sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

pre, tt, code, pre *, tt *, code * {
  @extend %monospace;
}

a, a u {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: inherit;
}

a {
  @include link-colors($color-link, $color-hover, $color-hover);


  .menu &,
  .footer &,
  .no-visited &,
  &.no-visited {
    &:visited {
      @include color-n-border($color-link);
    }
  }

  .e2-text &,
  .e2-note-comments-link &,
  .e2-note-tags &,
  .e2-pages & {
    &:visited {
      @include color-n-border($color-visited);
    }
  }
}

%black-link {
  @include link-colors($color-text, $color-hover, 0, 0, !important);
}

a.black-link {
  @extend %black-link;
}

abbr {
  font-size: 90%;
  letter-spacing: .1em;
  margin-right: -.1em;
}